{{#with controllers.workout.model}}

<h2>Edit workout</h2>
<form role="form">
  <div class="form-group">
    <label for="inputName">Name</label>
    {{input type="text" value=name placeholder="Workout name" class="form-control" id="inputName"}}
  </div>
  <div class="form-group">
    <label for="inputDescription">Description</label>
    {{input type="text" value=name placeholder="Workout description" class="form-control" id="inputDescription"}}
  </div>
  <div class="form-group">
    <label>Exercises</label>
    {{#each exercise in this.exercises}}
        <div class="media">
            <img style="max-height: 130px; float:left; margin: 10px;" {{bind-attr src=exercise.image}} class="img-thumbnail"></img>
            <div class="media-body">
              <h4 class="media-heading">{{exercise.name}}</h4>
              <p>{{exercise.description}}</p>
            </div>
            <div class="pull-right" href="#">
                <button {{action "deleteExercise" exercise.id}} class="btn btn-danger" type="button">Delete</button>
<!--                <button {{action "moveUpExercise" exercise.id}} class="btn btn-default">Up</button>
                <button {{action "moveDownExercise" exercise.id}} class="btn btn-default" type="button">Down</button>-->
            </div>
        </div>
    {{/each}}
    <button {{action "addExercise"}} class="btn btn-block btn-success" type="button">Add Exercise</button>
  </div>
  
  <button {{action "cancel" this}} class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button {{action "create" this}} {{bind-attr class=":btn :btn-primary"}}>Create</button>
</form>

{{/with}}