<h2>Exercises</h2>
<div class="row">
  <div class="col-md-4">
    <button {{action "showNewExerciseModal"}} class="btn btn-success btn-block">Create new</button>
  </div>
  <div class="col-md-4 col-md-offset-4">
    <div class="input-group">
      {{input class="form-control" type="text" value=searchString placeholder="Search"}}
      <span class="input-group-btn">
        <button class="btn btn-default active disabled" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </div>
</div>

<hr/>
    
{{#each exercise in paginatedContent}}
  <div class="media">
    
      <!--<img style="max-height: 130px; float:left; margin: 10px;" src="img/exercises/{{unbound exercise.id}}.png" class="img-thumbnail"></img>-->
    <img style="max-height: 130px; float:left; margin: 10px;" {{bind-attr src=exercise.image}} class="img-thumbnail"></img>
    
    
    <div class="media-body">
      <h4 class="media-heading">{{exercise.name}}</h4>
      <p>{{exercise.description}}</p>
    </div>
    <div class="pull-right" href="#">
      <button {{action "showEditExerciseModal" exercise.id}} class="btn btn-default">Edit</button>
      <button {{action "deleteExercise" exercise.id}} class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
{{/each}}

{{view Workoutastic.PaginationView }}